/*$col1: #94d793;
$col2: #229079;
$col3: #285556;*/
h2, #gallery, h3, h1, p {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  color: #000000;
  border-radius: 8px;
  padding: 4px;
  margin: auto;
  margin-bottom: 32px; }

h2 {
  font-size: 24px;
  border: 4px;
  background: none; }

.canvasForPainting {
  border: 4px solid #000000;
  position: absolute;
  left: 20%;
  top: 7%; }

.canvasForGallery {
  border: 4px solid #000000;
  position: absolute;
  left: 0;
  top: 0; }

body {
  background-image: linear-gradient(to right top, #d9a64c, #da9c4a, #db934a, #da894b, #d9804c); }

#paintClipArt {
  position: absolute;
  width: 20%;
  top: 100;
  left: 900; }

#gallery {
  font-size: 24px;
  border: 4px;
  background-color: #d9a64c;
  border: black 12px;
  border-style: outset;
  border-color: #c88f2a;
  border-radius: 4px; }
  #gallery a {
    background-color: #d9a64c; }
  #gallery a:hover {
    color: white;
    background-color: #f8ce57;
    transition: background-color 0.5s;
    text-decoration: none; }

h3 {
  font-size: 20px;
  border: 4px; }

h1 {
  font-size: 36px;
  border: 4px;
  font-family: cursive, "Times New Roman", Times, serif; }

p {
  font-size: 12px;
  background-color: #d9a64c;
  border: 2px outset #f8ce57;
  outline: none;
  border-radius: 4px;
  width: 400px;
  text-shadow: none; }

a {
  color: black;
  text-shadow: none;
  background-color: #f8ce57;
  margin: auto;
  text-align: center;
  border: 1px solid #d9a64c;
  border-radius: 4px; }

p a {
  padding: 4px;
  font-size: 24px; }

a:hover {
  color: white;
  background-color: #a78104;
  transition: background-color 0.5s;
  text-decoration: none; }

ul {
  font-size: 12pt; }

#bg {
  background-color: #f8ce57;
  margin-bottom: 32px; }

#bg2 {
  background-color: #d9a64c; }

#bgCanvas {
  background-color: #f8ce57; }

#canvasBack {
  background: url("/static/images/greenBG.png");
  border: 12px;
  width: 516px;
  height: 516px;
  margin: auto; }

.likes {
  width: 150px;
  margin: auto;
  background-color: #e2bb76;
  padding: 10px;
  border-radius: 8px;
  color: black;
  font-size: 1.5rem; }

#logout {
  width: 300px; }

.tab {
  padding-left: 5em; }

.helpText {
  padding-left: 90px; }

.Colour,
.FillOrOutline,
#Erase {
  width: 20%;
  height: 16px;
  border: solid 1px; }

.Tool {
  width: 50%; }

.Tool_Small {
  width: 25%; }

.LayerAdd {
  background-color: #dd6749;
  border: solid 1px;
  border-radius: 4px;
  border: 4px outset #d9804c; }

.LayerAdd:hover {
  background-color: #a2391e;
  transition: background-color 0.5s; }

.LayerChange {
  background-color: #ddc249;
  border: 4px outset #f8ce57; }

.LayerChange:hover {
  background-color: #a28a1e;
  transition: background-color 0.5s; }

.Exit,
.Save {
  background-color: #dd8449;
  border: 4px outset #d9804c; }

.Exit:hover,
.Save:hover {
  background-color: #a2531e;
  transition: background-color 0.5s; }

#Pallette {
  position: fixed;
  left: 16;
  top: 284;
  width: 10%;
  height: 200px;
  background-color: #d9a64c;
  border: #d9804c;
  border-style: solid; }

#Toolbox {
  position: fixed;
  left: 16;
  top: 94;
  width: 10%;
  height: 232px;
  background-color: #d9a64c;
  border: #d9804c;
  border-style: solid; }

#brushSizeBox,
#brushAlphaBox, #tickBoxText {
  background-color: dimgray;
  border: #313131;
  border-style: solid; }

#brushSize,
#alpha {
  width: 100%;
  height: 50%; }

#brushSizeBox,
#brushAlphaBox {
  width: 64px;
  height: 32px;
  font-size: 10px; }

#brushAlphaBox {
  width: 64px;
  height: 32px;
  font-size: 10px;
  position: absolute;
  left: 25%;
  top: 228; }

#tickBoxText {
  width: 32px;
  height: 32px;
  font-size: 8px;
  padding: 1px; }

table {
  text-align: center;
  background-color: #ecd2a4;
  border-radius: 8px;
  padding: 4px;
  margin: 8px; }

form,
#fakeForm {
  background-color: #d9a64c;
  border-radius: 1px;
  padding: 4px;
  max-width: 200px;
  border: 2px outset #f8ce57; }

#fakeForm {
  margin: auto;
  background-color: #c88f2a;
  padding: 20px; }

#signUp,
#signUpForm {
  max-width: 410px;
  margin: auto; }

#searchForm {
  margin: auto; }

#SaveForm {
  max-width: 400px; }

input[type="submit"],
#demoButton {
  color: white;
  background-color: #d9804c;
  transition: background-color 0.5s;
  border: outset 1px #d9804c;
  border-radius: 4px; }

input[type="submit"]:hover,
#demoButton:hover {
  color: #ecd2a4;
  background-color: #d9a64c; }

#brushAlphaBox,
#brushSizeText,
#tickBoxText {
  color: white; }

@media screen and (max-height: 500px) {
  #brushAlphaBox {
    position: absolute;
    left: 100%;
    top: 196; } }
#Pencil, #Brush, #Line, #Box, #Elipse, #Replace, #Flood, #Erase {
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center; }

#Pencil {
  background-image: url("/static/images/Pencil.png"); }

#Brush {
  background-image: url("/static/images/Brush.png"); }

#Line {
  background-image: url("/static/images/Line.png"); }

#Box {
  background-image: url("/static/images/Square.png"); }

#Elipse {
  background-image: url("/static/images/Circle.png"); }

#Replace {
  background-image: url("/static/images/Replace.png"); }

#Flood {
  background-image: url("/static/images/Bucket.png"); }

#Erase {
  background-image: url("/static/images/Erasure.png"); }

@media screen and (max-width: 992px) {
  #canvasBack {
    background: url("/static/images/greenBG.png");
    border: 12px; }

  canvas {
    touch-action: none; }

  p {
    font-size: 24px; }

  h1 {
    font-size: 48; }

  h2 {
    font-size: 36; }

  form {
    background-color: #d9a64c;
    border-radius: 1px;
    padding: 4px;
    font-size: 24pt; }
    form input {
      font-size: 24px;
      width: 100%; }
    form input[type="radio"] {
      border: 0px;
      width: 100%;
      height: 1em; }
    form input[type="checkbox"] {
      border: 0px;
      width: 100%;
      height: 1em; }

  #searchForm {
    max-width: 50%; }

  #SaveForm {
    max-width: 40%;
    max-height: 80%;
    font-size: 16pt; }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s; }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; } }
@media only screen and (max-width: 992px) and (orientation: portrait) {
  #container {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background: url("/static/images/greenBG.png"); }

  #signUp {
    width: 40%;
    height: 30%;
    font-size: 32pt; }
    #signUp input {
      width: 70%;
      height: 10%; }
    #signUp #signUpForm {
      max-width: 410px;
      margin: auto; }
      #signUp #signUpForm ul li {
        font-size: 84pt; }

  #searchForm {
    max-width: 70%;
    font-size: 36pt; }

  p {
    font-size: 24pt; } }
@media only screen and (max-width: 992px) and (orientation: landscape) {
  #logout {
    font-size: 25pt; }

  #searchForm {
    max-width: 40%; } }

/*# sourceMappingURL=style.css.map */
