
        <!-- Colour Pallette buttons here
        
                
        {% with topBase=288 %}
        <button class="Colour" value=#FF0000 id="Red" style="position: fixed; left: 48; top:" + {{ topBase }}+ "; background-color:#FF0000;">
                </button>        
        -->
        
        <!--Red-->
        <button class="Colour" value=#FF0000 id="Red" style="position: absolute; left: 25%; top: 8; background-color:#FF0000;">
                </button>        
        <button class="Colour" value=#800000 id="DarkRed" style="position: absolute; left: 50%; top: 8; background-color:#800000;">
                </button>
        <!--Blue-->
        <button class="Colour" value=#0000FF id="Blue" style="position: absolute; left: 25%; top: 24; background-color:#0000FF;">
                </button>
        <button class="Colour" value=#000080 id="DarkBlue" style="position: absolute; left: 50%; top: 24; background-color:#000080;">
                </button>
        <!--Green-->
        <button class="Colour" value=#00FF00 id="Green" style="position: absolute; left: 25%; top: 40; background-color:#00FF00;">
                </button>
        <button class="Colour" value=#008000 id="DarkGreen" style="position: absolute; left: 50%; top: 40; background-color:#008000;">
                </button>
        <!--Yellow-->
        <button class="Colour" value=#FFFF00 id="Yellow" style="position: absolute; left: 25%; top: 56; background-color:#FFFF00;">
        </button>
        <button class="Colour" value=#808000 id="DarkYellow" style="position: absolute; left: 50%; top: 56; background-color:#808000;">
        </button>
        <!--Orange-->
        <button class="Colour" value=#FF8000 id="Orange" style="position: absolute; left: 25%; top: 72; background-color:#FF8000;">
        </button>
        <button class="Colour" value=#804000 id="Brown" style="position: absolute; left: 50%; top: 72; background-color:#804000;">
        </button>
        <!--Pink-->
        <button class="Colour" value=#FF00FF id="Pink" style="position: absolute; left: 25%; top: 88; background-color:#FF00FF;">
        </button>
        <button class="Colour" value=#800080 id="Magenta" style="position: absolute; left: 50%; top: 88; background-color:#800080;">
        </button>
        <!--Cyan-->
        <button class="Colour" value=#00FFFF id="Cyan" style="position: absolute; left: 25%; top: 104; background-color:#00FFFF;">
        </button>
        <button class="Colour" value=#028585 id="Teal" style="position: absolute; left: 50%; top: 104; background-color:#028585;">
        </button>
        <!--Purple-->
        <button class="Colour" value=#8000FF id="Violet" style="position: absolute; left: 25%; top: 120; background-color:#8000FF;">
        </button>
        <button class="Colour" value=#400080 id="Purple" style="position: absolute; left: 50%; top: 120; background-color:#400080;">
        </button>
        <!--Beige-->
        <button class="Colour" value=#ffbf9a id="Beige" style="position: absolute; left: 25%; top: 136; background-color:#ffbf9a;">
        </button>
        <button class="Colour" value=#c0774d id="DarkBeige" style="position: absolute; left: 50%; top: 136; background-color:#c0774d;">
        </button>
        <!--Black/White-->
        <button class="Colour" value=#FFFFFF id="Violet" style="position: absolute; left: 25%; top: 152; background-color:#FFFFFF;">
        </button>
        <button class="Colour" value=#000000 id="Purple" style="position: absolute; left: 50%; top: 152; background-color:#000000;">
        </button>

        <button class="Erase" id="Erase" style="position: absolute; left: 75%; top: 152;">
        </button>
        

        {% endwith %}