<html>
        {% include 'layout.html' %}

<body  id="homepageBG">
        <div id="mainScreen">


        <div id="intro">
                
                <h1> PaintOn </h1>
                <p>
                        Welcome! Give the paint tool a try! You can also make an account to save your drawings, and to view drawings created by others!

                </p>

                <div>
                        <button id="demoButton">&nbsp; Start Painting &nbsp;</button>
                        <a href="/login">&nbsp; Sign In  &nbsp;</a>
                </div>
                <br>


        </div>


        {% load static %}
        <img src="{% static 'images/paintClipArt.png' %}" id="paintClipArt" />
        



        </div>



        <div id ="demoCanvas" style="display: none;">
        {% include 'canvas.html' %}       
        </div>

        <!-- Small script for demoing the painter. -->
        <script type="text/javascript"> 
                document.getElementById("demoButton").onclick = function() { 
          
                    document.getElementById("demoCanvas").style.display = "block"; 
                    document.getElementById("mainScreen").style.display = "none"; 
          
                    //Hide save button.
                    document.getElementsByClassName("Save")[0].style.display = "none"; 

                    //Overwrite exit button
                    document.getElementsByClassName("Exit")[0].onclick  = () =>
                    {
                     //Hide save button.
                     document.getElementById("demoCanvas").style.display = "none"; 
                     document.getElementById("mainScreen").style.display = "block";        
                    } 
                } ;
        </script>

</body>





</html>
