<html>
        {% include 'layout.html' %}

<body  id="homepageBG">
        <div id="mainScreen">

        <h1> PaintOn </h1>

        <h2>

        <form action="{% url 'paint:login' %}" id="signUp" method="POST">

        {% csrf_token %}
        Username
        <input name="username" type="text"/>
        Password
        <input name="password" type="password"/>
        <br>
        <input value="Login" type="submit"/>

        </form>


        <form action = "{% url 'paint:signUp' %}" id="signUp"> <input type="submit" value="Sign Up"/> </form>



        {% if form.errors %}
        <p>Your username and password didn't match.</p>
        {% endif %}


        {{msg}}


        </div>

        </h2>


</body>





</html>
