<html>

        {% include 'layout.html' %}

<body>


    <!-- TODO: Use inspect element to get the same form values, but make it manually -->
    <form action="{% url 'paint:signUp' %}" id="signUpForm" method="POST">

        {% csrf_token %}
        {{ form.as_p }}
        
        <input value="Sign Up" type="submit"/>

    </form>

    <form action = "{% url 'paint:index' %}" id="signUp"> <input type="submit" value="Back"/></form>
    
    <script type="text/javascript">
        //Remove unneeded help text
        var helpText = document.getElementsByClassName("helptext");
        
        for (let i = 0;i < helpText.length; i++)
        {
            helpText[i].style.display="none";
        }

        //Reorder password help
        var list = document.getElementsByTagName("ul");
        var parent = list[0].parentNode;
        parent.insertBefore(list[0], parent.children[parent.children.length-1]);
        parent.children[3].remove();
    </script>

</body>

</html>